{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true
    },
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/strict",
        "prettier"
    ],
    "rules": {
        "import/order": [
            "error",
            {
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                },
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ]
            }
        ]
    },
    "parser": "@typescript-eslint/parser"
}